
@font-face {
    font-family: "Polonium-Bold";
    src: url(/Font/Polonium-Bold.otf);
}

@font-face {
    font-family: "TTNorms-Regular";
    src: url(/Font/TTNorms-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: "Polonium-Bold";
    font-size: 50px;
    text-align: center;
    color: #444444;
    margin: 80px 0 40px;
    letter-spacing: 4px;
}

h2 {
    font-family: "TTNorms-Regular";
    font-size: 33px;
    text-align: center;
    color: #444444;
    font-weight: normal;
    margin: 0 160px;
}

.Content {
    display: flex;
    justify-content: center;
    height: 62px;
    margin: 80px 0px 80px
}

a {
    transition: all 300ms ease;
    width: 62px;
    background-size: 62px;
}

a:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.VK {
    background-image: url(/Img/VK1.png);
}

.VK:hover {
    background-image: url(/Img/VK2.png);
}

.Tele {
    background-image: url(/Img/Tele1.png);
}
.Tele:hover {
    background-image: url(/Img/Tele2.png);
}

.YT {
    background-image: url(/Img/YT1.png);
}
.YT:hover {
    background-image: url(/Img/YT2.png);
}
.Dzen {
    background-image: url(/Img/Dzen1.png);
}
.Dzen:hover {
    background-image: url(/Img/Dzen2.png);
}

.bt {
    display: flex;
    justify-content: center;
}

.Logo {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Logo img{
    width: 270px;
}


.Logo {
    width: 260px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.Logo:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    top: 15px;
    left: 0px;
    filter: blur(20px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.Logo:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




@media (max-width: 700px) { 

body { 
    min-height: 90vh;
}

h1 { 
    font-size: 20px;
}  

h2 { 
    font-size: 20px;
    margin: -10px 50px;
} 
}